@model Contact

<h1>Are you sure you want to delete this contact ?</h1>

<br />
<br />
<div class="container">
    <section class="member-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-8">
                    <div class="member_designation">
                        <h2>@Model.Name @Model.Surname</h2>
                        <span></span>
                    </div>
                    <div class="member_desc">
                    
                        <ul class="styled_list">
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> @Model.Numero</li>
                            <li class=""><i class="fa fa-chevron-circle-right" aria-hidden="true"></i> @Model.Email</li>
                        </ul>
                    </div>
                                       
                </div>
            </div>
        </div>
        <div class="form-group">
            <form action="Delete" method="post">
                <input type="hidden" asp-for="Id" />
                <input type="submit" value="Confirm" class="btn btn-danger float-right mt-3" />
                <a type="btn btn-success" asp-controller="Contact" asp-action="IndexContact" class="btn btn-secondary float-right mt-3">Retour</a>
            </form>
        </div>
    </section>
</div>